html, body, #__next {
    height: 100%;
}

.page-center {
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.page-center > * {
    max-width: 100%;
}

select.empty-select {
    color: var(--bs-secondary-color);
    opacity: 1;
}

select option {
    color: #000;
}
